body {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.buat {
    display: flex;
    flex-direction: column;
    width: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
}

.atas {
    border-bottom: 2px solid;
}

.atas h5 {
    font-weight: bold;
}

.isi input {
    border-radius: 5px;
    border: 1px solid;
    max-width: 500px;
    width: 100%;
}

.koleksi {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tombol {
    display: flex;
    justify-content: center;
}

.tombol button {
    border: none;
    border-radius: 5px;
    background-color: #fa812f;
    max-width: 110px;
    width: 100%;
    height: 30px;
    font-weight: bold;
    color: white;
}

.tombol button:hover {
    background-color: #ffb22c;
    font-size: 15px;
    color: black;
    transition: all 0.2s ease-in-out;
}
